.gradle
/build/classes
/build/reports
/build/resources
/build/tmp
/build/test-results
!gradle/wrapper/gradle-wrapper.jar
docker_aws_key_pair.pem

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/